.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.rule {
  text-align: justify;
  color: midnightblue;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}

.points {
  margin: 1rem auto;
}

.header {
  font-weight: bold;
  display: flex;
}

.point {
  margin: 0.15rem;
  padding: 0.15rem;
  display: flex;
  font-style: italic;
  border-top: 1px solid midnightblue;
}

.position {
  flex: 1;
  text-align: center;
}

.equivalence {
  text-align: center;
  flex: 15px;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
