body {
  font-family: Roboto;
  background-color: #edc0bf;
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
}

.shape {
  position: absolute;
  width: 150px;
  top: 2.5rem;
  left: 24.5rem;
}
